json-with-comments
requests>=2.25.0
pytz
loguru
numpy<2
opencv-python-headless

# -------------------------------------------------------
# [核心版本配置]
# 1. 指定资源包版本 (CI 读取此行下载资源)
# MFAA_TAG=v2.5.7
#
# 2. 这里的 pip 版本暂时由人工维护，需匹配上方 Tag 对应的 Core 版本
#    (Meta 任务会自动探测校验，如果不匹配 CI 会报错/警告)
# -------------------------------------------------------